include LICENSE
include README.rst
include MANIFEST.in pylintrc
include babel.cfg
graft heat_jeos/jeos
include heat_jeos/cfntools/cfn-init
include heat_jeos/cfntools/cfn-hup
include heat_jeos/cfntools/cfn-signal
include heat_jeos/cfntools/cfn-get-metadata
include heat_jeos/cfntools/cfn-push-stats
graft docs
